@keyframes animatetop {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animatetop {
  animation: animatetop 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
